* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px rgb(249, 245, 245);
    overflow: hidden;
  }
  
  .game-background {
    width: 100vw;
    height: 100vh;
    background-image: url("src/images/caralis.png");
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .game-title {
    text-align: center;
    font-size: 3rem;
    margin-top: 100px;
  }
  
  /* Shepherd container */
  #main-character {
    position: absolute;
    bottom: 28px; /* Adjust this until his feet sit on the grass */
    left: 50%;
    transform: translateX(-50%);
    width: 100px; /* Adjust size if needed */
    height: auto;
    z-index: 10;
  }
  
  #main-character img {
    width: 100%;
    height: auto;
  }
  
  /* Sheep */
  .sheep {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("src/images/sheep-left.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Score Board */
  #score-board {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    left: 50px;
    color: white;
    text-shadow: 1px 1px 2px black;
    z-index: 20;
  }