* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px rgb(249, 245, 245);
    overflow: hidden;
  }
  
  .game-background {
    width: 100vw;
    height: 100vh;
    background-image: url("./src/images/caralis.png");
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .game-title {
    text-align: center;
    font-size: 3rem;
    margin-top: 70px;
  }
  .game-over-alert {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 2rem;
    padding: 20px 40px;
    border-radius: 10px;
    z-index: 9999;
    text-align: center;
  }
  /* Shepherd container */
  #main-character {
    position: absolute;
    bottom: 185px;             
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: auto;
    z-index: 10;
  }
  
  #main-character img {
    width: 100%;
    height: auto;
  }
  
  /* Sheep */
  .sheep {
    position: absolute;
    width: 80px;
    height: 80px;
    top: -100%;
    left: 0;
    background-image: url("./src/images/sheep-left.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: top 0.2s linear;
  }
  /* Score Board */
  #score-board {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    text-shadow: 1px 1px 2px black;
    z-index: 20;
  }
  .shepherd-dead {
    filter: grayscale(100%);
    opacity: 0.6;
  }
  .startBtn {
      display: block;   /* now hidden by default / block for center only*/
      margin: 100px auto; /* centers the button horizontally */
      background-color: rgb(224, 115, 13);
      border: none;
      color: white;
      padding: 14px 40px;
      font-size: 40px;
      border-radius: 8px;
      transition-duration: 0.4s;
    }
  
  .startBtn:hover {
    background-color: rgb(188, 132, 202);
    color: white;
  }